<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.sap.db.jdbc.Driver</property>
        <property name="hibernate.connection.password">Burak123123123.!</property>
        <property name="hibernate.connection.url">jdbc:sap://zeus.hana.prod.eu-central-1.whitney.dbaas.ondemand.com:31776/?databaseName=H00&amp;currentSchema=XBERSOY&amp;encrypt=true&amp;validateCertificate=true</property>
        <property name="hibernate.connection.username">XBERSOY</property>
        <property name="hibernate.default_schema">DUKKAN</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HANAColumnStoreDialect</property>
    </session-factory>
</hibernate-configuration>
